body {
    color: ActiveBorder;
    color: ActiveCaption;
    color: AppWorkspace;
    color: Background;
    color: ButtonFace;
    color: ButtonHighlight;
    color: ButtonShadow;
    color: ButtonText;
    color: CaptionText;
    color: GrayText;
    color: Highlight;
    color: HighlightText;
    color: InactiveBorder;
    color: InactiveCaption;
    color: InactiveCaptionText;
    color: InfoBackground;
    color: InfoText;
    color: Menu;
    color: MenuText;
    color: Scrollbar;
    color: ThreeDDarkShadow;
    color: ThreeDFace;
    color: ThreeDHighlight;
    color: ThreeDLightShadow;
    color: ThreeDShadow;
    color: Window;
    color: WindowFrame;
    color: WindowText;
}
