#Server {
    /* Don't set display to none, or the plug-in won't load. */
    position: absolute;
    
    width: 0;
    height: 0;
    
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    
    font: Menu;
}

ul.Panel {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    position: fixed;
    left: 0;
    top: 0;
    
    height: 100%;
    width: 100%;
    
    /*background-image: -o-skin("Treeview Skin");*/
    background-color: Window;
    
    border-left: 1px solid ThreeDLightShadow;
    border-top: 1px solid ThreeDLightShadow;
}

ul.Panel > li > a {
    color: inherit;
    text-decoration: none;
    
    display: block;
    padding: 0 0 2px 2px;
    margin-top: -3px;
}

ul.Panel > li > a:hover,
ul.Panel > li.Group > a {
    color: #285078;
}

ul.Panel > li > a:hover {
    text-decoration: underline;
}

ul.Panel > li > a:before {
    position: relative;
    margin-right: 3px;
    top: 3px;
}

ul.Panel > li.Buddy > a:before {
    content: -o-skin("Contact0");
}

ul.Panel > li.Group > a:before {
    content: -o-skin("Group");
}

ul.Panel > li.Information > a:before {
    content: -o-skin("Account Irc");
}
