#InformationBar {
    position: fixed;
    bottom: 0;
    left: -1px;
    width: 101%;
    
    border-top: 1px solid ThreeDShadow;
    padding: 3px;
    
    /*background-image: -o-skin("Transfer Panel Details Skin");*/
    background-image: -o-skin("Hotlist Skin");
}

#InformationBar > td {
    width: 50%;
}

#Server {
    /* Don't set display to none, or the plug-in won't load. */
    position: absolute;
    
    width: 0;
    height: 0;
    
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    
    /*background-image: -o-skin("Treeview Skin");*/
    background-color: Window;
    
    font: Menu;
}

ul.Buddy,
ul.Group {
    position: fixed;
    
    height: 100%;
    width: 100%;
    
    list-style-type: none;
    border-left: 1px solid ThreeDLightShadow;
    border-top: 1px solid ThreeDLightShadow;
    
    margin: 0;
    padding: 0 0 0 2px;
}

ul.Buddy > li,
ul.Group > li {
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
}

ul.Buddy > li:hover,
ul.Group > li {
    color: #285078;
}

ul.Buddy > li:hover,
ul.Group > li:hover {
    text-decoration: underline;
}

ul.Buddy > li > img,
ul.Group > li > img {
    float: left;
    margin-top: -2px;
    margin-right: 3px;
}

ul.Buddy > li > img {
    content: -o-skin("Contact0");
}

ul.Group > li > img {
    content: -o-skin("Group");
}
