#InformationBar {
    position: fixed;
    bottom: 0;
    left: -1px;
    width: 101%;
    
    border-top: 1px solid ThreeDShadow;
    background-image: -o-skin("Hotlist Skin");
    padding: 3px;
}

#InformationBar > td {
    width: 50%;
}

#Server {
    /* Don't set display to none, or else the plug-in won't load. */
    position: absolute;
    
    width: 0;
    height: 0;
    
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    
    background-color: Window;
    font: Menu;
}

ul.Buddy {
    position: fixed;
    
    height: 100%;
    width: 100%;
    
    list-style-type: none;
    border-left: 1px solid ThreeDLightShadow;
    border-top: 1px solid ThreeDLightShadow;
    
    margin: 0;
    padding: 0;
}

ul.Buddy > li.Buddy {
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
}

/* TODO: Remove hard coded color for the buddy hover style. */
ul.Buddy > li.Buddy:hover {
    text-decoration: underline;
    color: #285078;
}

ul.Buddy > li.Buddy > img.Buddy {
    float: left;
    content: -o-skin("Contact0");
    margin-top: -2px;
    margin-right: 3px;
}
