body {
    background-image: -o-skin("Browser Skin");
    background-image: -o-skin("Browser Window Skin.disabled");
    background-image: -o-skin("Browser Window Skin");
    background-image: -o-skin("Caption Button Skin.pressed");
    background-image: -o-skin("Caption Button Skin");
    background-image: -o-skin("Caption Close Button Skin.pressed");
    background-image: -o-skin("Caption Close Button Skin");
    background-image: -o-skin("Caption Minimize Button Skin.pressed");
    background-image: -o-skin("Caption Minimize Button Skin");
    background-image: -o-skin("Caption Restore Button Skin.pressed");
    background-image: -o-skin("Caption Restore Button Skin");
    background-image: -o-skin("Checkbox Skin.selected");
    background-image: -o-skin("Checkbox Skin");
    background-image: -o-skin("Content Block Toolbar Skin.bottom");
    background-image: -o-skin("Content Block Toolbar Skin");
    background-image: -o-skin("Cycler Button Skin");
    background-image: -o-skin("Cycler Skin");
    background-image: -o-skin("Cycler Window Skin");
    background-image: -o-skin("Dialog Button Border Skin");
    background-image: -o-skin("Dialog Page Skin.disabled");
    background-image: -o-skin("Dialog Page Skin");
    background-image: -o-skin("Dialog Skin");
    background-image: -o-skin("Dropdown Button Skin.pressed");
    background-image: -o-skin("Dropdown Button Skin");
    background-image: -o-skin("Dropdown Skin.disabled");
    background-image: -o-skin("Dropdown Skin");
    background-image: -o-skin("Edit Skin.disabled");
    background-image: -o-skin("Edit Skin");
    background-image: -o-skin("Header Button Skin.pressed");
    background-image: -o-skin("Header Button Skin");
    background-image: -o-skin("Horizontal Drop Insert");
    background-image: -o-skin("Horizontal Separator");
    background-image: -o-skin("Hotlist Selector Skin");
    background-image: -o-skin("Hotlist Skin");
    background-image: -o-skin("Hotlist Splitter Skin");
    background-image: -o-skin("Insecure Popup Header Skin.hover");
    background-image: -o-skin("Insecure Popup Header Skin");
    background-image: -o-skin("Link Button Skin.hover");
    background-image: -o-skin("Link Button Skin.pressed");
    background-image: -o-skin("Link Button Skin");
    background-image: -o-skin("Listbox Skin.disabled");
    background-image: -o-skin("Listbox Skin");
    background-image: -o-skin("Low Security Button Skin.hover");
    background-image: -o-skin("Low Security Button Skin");
    background-image: -o-skin("Mainbar Skin.bottom");
    background-image: -o-skin("Mainbar Skin");
    background-image: -o-skin("Menu Button Skin.hover");
    background-image: -o-skin("Menu Button Skin.selected");
    background-image: -o-skin("Menu Button Skin");
    background-image: -o-skin("MultilineEdit Skin.disabled");
    background-image: -o-skin("MultilineEdit Skin");
    background-image: -o-skin("Navigationbar Skin.bottom");
    background-image: -o-skin("Navigationbar Skin");
    background-image: -o-skin("Notifier Skin");
    background-image: -o-skin("Pagebar Button Skin.attention");
    background-image: -o-skin("Pagebar Button Skin.bottom.attention");
    background-image: -o-skin("Pagebar Button Skin.bottom.hover.attention");
    background-image: -o-skin("Pagebar Button Skin.bottom.hover");
    background-image: -o-skin("Pagebar Button Skin.bottom.selected");
    background-image: -o-skin("Pagebar Button Skin.bottom");
    background-image: -o-skin("Pagebar Button Skin.hover.attention");
    background-image: -o-skin("Pagebar Button Skin.hover");
    background-image: -o-skin("Pagebar Button Skin.selected");
    background-image: -o-skin("Pagebar Button Skin");
    background-image: -o-skin("Pagebar Close Button Skin.hover");
    background-image: -o-skin("Pagebar Close Button Skin.pressed.selected");
    background-image: -o-skin("Pagebar Close Button Skin.pressed");
    background-image: -o-skin("Pagebar Close Button Skin.selected.hover");
    background-image: -o-skin("Pagebar Close Button Skin.selected");
    background-image: -o-skin("Pagebar Close Button Skin");
    background-image: -o-skin("Pagebar Locked Button Skin");
    background-image: -o-skin("Pagebar Skin.bottom");
    background-image: -o-skin("Pagebar Skin");
    background-image: -o-skin("Panel Toggle Skin.bottom.hover");
    background-image: -o-skin("Panel Toggle Skin.left.hover");
    background-image: -o-skin("Panel Toggle Skin.right.hover");
    background-image: -o-skin("Panel Toggle Skin.top.hover");
    background-image: -o-skin("Personalbar Skin.bottom");
    background-image: -o-skin("Personalbar Skin");
    background-image: -o-skin("Progress Empty Skin");
    background-image: -o-skin("Progress Full Skin");
    background-image: -o-skin("Progressbar Popup Skin");
    background-image: -o-skin("Progressbar Skin");
    background-image: -o-skin("Push Button Skin.disabled");
    background-image: -o-skin("Push Button Skin.pressed");
    background-image: -o-skin("Push Button Skin");
    background-image: -o-skin("Push Default Button Skin.disabled");
    background-image: -o-skin("Push Default Button Skin.pressed");
    background-image: -o-skin("Push Default Button Skin");
    background-image: -o-skin("Radio Button Skin.selected");
    background-image: -o-skin("Radio Button Skin");
    background-image: -o-skin("Scrollbar Horizontal Knob Skin");
    background-image: -o-skin("Scrollbar Horizontal Left Skin.pressed");
    background-image: -o-skin("Scrollbar Horizontal Left Skin");
    background-image: -o-skin("Scrollbar Horizontal Right Skin.pressed");
    background-image: -o-skin("Scrollbar Horizontal Right Skin");
    background-image: -o-skin("Scrollbar Horizontal Skin");
    background-image: -o-skin("Scrollbar Vertical Down Skin.pressed");
    background-image: -o-skin("Scrollbar Vertical Down Skin");
    background-image: -o-skin("Scrollbar Vertical Knob Skin");
    background-image: -o-skin("Scrollbar Vertical Skin");
    background-image: -o-skin("Scrollbar Vertical Up Skin.pressed");
    background-image: -o-skin("Scrollbar Vertical Up Skin");
    background-image: -o-skin("Search Skin");
    background-image: -o-skin("Secure Popup Header Skin.hover");
    background-image: -o-skin("Secure Popup Header Skin");
    background-image: -o-skin("Security Button Skin.hover");
    background-image: -o-skin("Security Button Skin");
    background-image: -o-skin("Selector Button Skin.attention");
    background-image: -o-skin("Selector Button Skin.hover.attention");
    background-image: -o-skin("Selector Button Skin.hover");
    background-image: -o-skin("Selector Button Skin.selected");
    background-image: -o-skin("Selector Button Skin");
    background-image: -o-skin("Start Popup Skin");
    background-image: -o-skin("Start Skin");
    background-image: -o-skin("Startbar Skin");
    background-image: -o-skin("Status Title Skin");
    background-image: -o-skin("Tab Button Skin.hover");
    background-image: -o-skin("Tab Button Skin.selected");
    background-image: -o-skin("Tab Button Skin");
    background-image: -o-skin("Tabs Skin");
    background-image: -o-skin("Toolbar Button Skin.attention");
    background-image: -o-skin("Toolbar Button Skin.hover");
    background-image: -o-skin("Toolbar Button Skin.pressed");
    background-image: -o-skin("Toolbar Button Skin.selected");
    background-image: -o-skin("Toolbar Button Skin");
    background-image: -o-skin("Treeview Skin.disabled");
    background-image: -o-skin("Treeview Skin");
    background-image: -o-skin("Untrusted Site Security Button Skin.hover");
    background-image: -o-skin("Untrusted Site Security Button Skin");
    background-image: -o-skin("Vertical Drop Insert");
    background-image: -o-skin("Vertical Separator");
    background-image: -o-skin("Viewbar Skin.bottom");
    background-image: -o-skin("Viewbar Skin");
    background-image: -o-skin("Window Skin.disabled");
    background-image: -o-skin("Window Skin");
}
