-o-text-overflow: ellipsis;
background-image: -o-skin("Panel Collapse Right");
width: -o-skin;
content: -o-skin("Smiley Happy");
-o-table-baseline: 2;
height: -o-content-size;
white-space: -o-pre-wrap;
content: -o-language-string(922536704);
-o-link: attr(href);
background: -o-skin("Toolbar Button Skin.hover");
background: -o-skin("Toolbar Button Skin.pressed");
-o-background-size
-o-replace: attr(src);

[cite] {
    -o-link : attr(cite);
    -o-link-source : current;
    cursor : pointer;
}

<box><o-button style="background-image:-o-skin('{.}')" title="{.}" onclick="clipB.setAttribute('FlashVars','clipboard={.}');clipB.outerHTML=clipB.outerHTML"/></box>
