@import url("Common.css");

body {
    background-image: -o-skin("Dialog Skin");
    margin: 15px 3px 15px 13px;
}

fieldset {
    border-style: none;
}

fieldset > legend {
    font-weight: bold;
    padding-top: 12px;
}

input[type="reset"],
input[type="submit"] {
    width: 80px;
    height: 23px;
}

select {
    width: 100%;
}

table > tbody > tr > td:first-child {
    width: 6em;
}

#Buttons {
    text-align: right;
    margin-right: 10px;
}

#Buttons > * + * {
    margin-left: 10px;
}

#Form {
    background-image: -o-skin("Dialog Page Skin");
    padding-bottom: 15px;
}
