@import url("Common.css");

ul.Panel {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    position: fixed;
    left: 0;
    top: 0;
    
    height: 100%;
    width: 100%;
    overflow: auto;
    
    /*background-image: -o-skin("Treeview Skin");*/
    background-color: Window;
    
    border-left: 1px solid ThreeDLightShadow;
    border-top: 1px solid ThreeDLightShadow;
}

ul.Panel > li {
    padding: 0 0 2px 2px;
    margin-top: -3px;
    
    cursor: pointer;
    white-space: nowrap;
}

ul.Panel > li:hover,
ul.Panel > li.Group {
    color: #285078;
}

ul.Panel > li:hover {
    text-decoration: underline;
}

ul.Panel > li:before {
    position: relative;
    margin-right: 3px;
    top: 3px;
}

ul.Panel > li.Buddy:before {
    content: -o-skin("Contact0");
}

ul.Panel > li.Group:before {
    content: -o-skin("Group");
}

ul.Panel > li.Information:before {
    content: -o-skin("Account Irc");
}

.Status {
    position: fixed;
    bottom: 0;
    left: 0;
    
    width: 100%;
    border-top: 1px solid ThreeDShadow;
    
    /*background-image: -o-skin("Transfer Panel Details Skin");*/
    background-image: -o-skin("Hotlist Skin");
    
    white-space: nowrap;
    padding: 0 0 12px 8px;
}

.Status:before {
    content: -o-skin("Panel Info");
    margin-right: 6px;
    
    position: relative;
    top: 6px;
}

#Server {
    /* Don't set display to none, or the plug-in won't load. */
    position: absolute;
    
    width: 0;
    height: 0;
}
