#include <WinVer.h>
#include "npMessaging.h"


VS_VERSION_INFO VERSIONINFO
  FILEVERSION NPMESSAGING_MAJOR_VERSION, NPMESSAGING_MINOR_VERSION, NPMESSAGING_MICRO_VERSION, 0
  PRODUCTVERSION NPMESSAGING_MAJOR_VERSION, NPMESSAGING_MINOR_VERSION, NPMESSAGING_MICRO_VERSION, 0
  FILEFLAGSMASK 0
  FILEFLAGS 0
  FILEOS VOS__WINDOWS32
  FILETYPE VFT_DLL
  FILESUBTYPE VFT2_UNKNOWN
  BEGIN
    BLOCK "StringFileInfo"
    BEGIN
      BLOCK "040904E4"
      BEGIN
        VALUE "FileDescription", "Instant messaging plug-in for Opera."
        VALUE "FileVersion", "0, 1, 0, 0"
        VALUE "LegalCopyright", "Márcio Faustino"
        VALUE "MIMEType", "application/x-im"
        VALUE "ProductName", "Messaging"
      END
    END
    BLOCK "VarFileInfo"
    BEGIN
      VALUE "Translation", 0x409, 1252
    END
  END
